doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Curso PUG
    body 
        //- div caja 1
        //-     div caja 2
        //-         div caja 3
        //- ul
        //-     li Item 1
        //- a(href="#") Un enlace

        //- //- El elemento de separación puede ser una coma o un espacio
        //- img(src="foto.jpg", alt="Soy una foto")  
        //- p#texto-primero Parráfo con ID
        //- p.texto.texto2 Párrafo con clase
        //- p#id.clase Párrafo con id y clase
        //- //- Colocar una etiqueta dentro de otra:
        //- p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor voluptatum quisquam nobis aspernatur eum earum illum? 
        //-     a(href="#") Repellendus 
        //-     | cupiditate possimus reiciendis, quidem laudantium, laborum culpa, voluptates saepe nam corrupti quos magni?

        //- ul.menu
        //-     li.menu__item
        //-         a(href="#").menu__link Item 1
        //- //- Para evitar tantos saltos de línea se usa :
        //- ul.menu: li.menu__item: a(href="#").menu__link Item 2

        //- header 
        //-     nav#main-nav 
        //-         ul.main-menu
        //-             li: a(href="#") Item 1
        //-             li: a(href="#") Item 2
        //-             li: a(href="#") Item 3
        //-             li: a(href="#") Item 4

        //- SCRIPTS - VARIABLES Y STYLESSd
        //- script(src="scripts.js") 
        
        //- Variables y uso dentro de HTML: 
        //- -const name="Jose"
        //- -const numbers = [1,2,3,4,5]

        //- p= `Hola ${name}`
        //- ul 
        //-     li= numbers[0]
        //-     li= numbers[1]
        //-     li= numbers[2]
        //-     li= numbers[3]
        //-     li= numbers[4]

        //- Objetos :
        //- -
        //-     const persona = {
        //-         name: "Jose",
        //-         apellido: "Sissa",
        //-         edad: 24,
        //-         sexo: "M"
        //-     }
        //- ul 
        //-     li= persona.name
        //-     li= persona.apellido
        //-     li= persona.edad
        //-     li= persona.sexo
        
        //- p= `${persona.name} ${persona.apellido} tiene ${persona.edadd}`

        //- Condicionales: 
        //- -let username = true
        //- if username 
        //-     p Bienvenido usuario
        //- else if username == null
        //-     p Username no existe
        //- else
        //-     p Registrese para continuar

        //- Operador ternario 
        //- -let name = false 
        //- p(class= name ? 'registrado': 'no registrado')


        //- BUCLES

        //- -const names = ['leidy', 'juan', 'maria', 'camila']
        //- -const names2 = []

        //- each name in names
        //-     p= `${name.charAt(0).toUpperCase()}${name.substring(1)}`
        //- each name in names2 
        //-     p= name
        //- else 
        //-     p No names

        //-  RECORRIENDO UN OBJETO CON EACH

        //- -
        //-     const persona = {
        //-         name: "Jose",
        //-         apellido: "Sissa",
        //-         edad: 24,
        //-         sexo: "Masculino"
        //-     }

        //- each value, key in persona 
        //-     p= `${key}: ${value}`

        //- TEMPLATES
        //- Se usan para guardar el código que se repite muchas veces dentro de los archivos .pug 
        //- Se enlazan las paginas .pug que quieran usar el código guardado en el archivo template usando la siguiente instrucción: 
        //- extends ../templates/template