doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Login
    link(rel="stylesheet", href="/resources/css/styles-min.css")
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap' rel='stylesheet')
    script(src="//cdn.jsdelivr.net/npm/sweetalert2@11") 
  body.body
    header.header
      a.header__logo(href='#')
        img.logo(src='/resources/image/logo.jpg' alt='')
    main.main
      section.section__login
        .login
          .login__header
            h2.login__header--title Inicia sesión
          .login__body
            form(action="/login", method="POST").form__login
              input#user.login__input(type='text' name='user' placeholder='Usuario' required='')
              input#pass.login__input(type='password' name='pass' placeholder='Contraseña' required='')
              input#submit.button(type='submit' value='Ingresa')
            p Si aun no estas registrado: 
              a(href="/resources/register.html").link Hazlo aquí.


    p= `Hola ${icon} y tambien ${title} y además ${text}`
    -
      const hol ={
        i: icon,
        ti: title,
        te: text
      }
    p= `Hola ${hol.ti} y tambien ${hol.i} y además ${hol.te}`
    if typeof alerta != "undefined"
      script.
        Swal.fire({
            icon: `error`,
            title: `Conexión fallida`,
            text: `${hol.te}`
          })