doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Pruebas de PUG
    body 
        //- alerta: true
        //- icon: 'error'
        //- title: 'Conexión fallida',
        //- text: 'Usuario o contraseña incorrectas.'
        p= `${sweetAlert.icon}`
        p= `${sweetAlert.title}`
        p= `${sweetAlert.text}`
        if sweetAlert.control == true 
            p= `${sweetAlert.icon}`
            p= `${sweetAlert.title}`
            p= `${sweetAlert.text}`
        script(src="//cdn.jsdelivr.net/npm/sweetalert2@11")
        script(src="/resources/js/scripts-total.js")
        //- script.
        //-     export const num =1;
        //-     console.log(`${sweetAlert.icon}`);
        //-     console.log(`${sweetAlert.title}`);
        //-     console.log(`${sweetAlert.text}`);
                

        